.myCard {
    background: white;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
    transition: 0.2s;
    margin-left: -5rem;
}

.cardDetails { 
    display: none;
}

.myCard:hover { 
    z-index: 5;
    transform: translateX(20px); 
    transform: translateY(-20px); 
}

.myCard:hover  + .cardDetails{ 
    display: block;
    margin-left: 15%;
    height: 200px;
    background: red;
}

@media only screen and (max-width: 900px) {

    .myCard {
        background: white;
        border-radius: 1rem;
        max-width: 200px; 
        padding: 0.5rem;
        box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
        transition: 0.2s;
        margin-left: 0rem;
        left: 50px;
    }

    .myCard img{ 
        width: 100%;
    }
}