div.MainPage{  
    margin-left: 0px;
    margin-top: 0px; 
    padding-top: 20vh;
    overflow-y: hidden;
    height: calc(100% - 56px);
    width: 100%;
    position: absolute;
    background-image: url('2753315.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 30%;
    text-align: center
}

div.Background { 
    background-image: url('2753315.jpg');
    background-color: white;
    position: fixed;
    overflow-y: scroll;
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    background-position: 30% 30%;
    height: 100%;
    width: 100%;
    min-height:100vh;
}

div.Selection { 
    width: 50% ; 
    margin-left: 25%;
}

div.MainPage button{ 
    background-color: white;
}

div.MainPage img { 
    width: 50% ; 
    height: 50% ;
    margin-left: 25%;
    margin-bottom: 20px;
}

.playerProfile { 
    object-fit: cover;
    position: relative;
    height: 50vh;
    left: 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
    max-width: 600px;
}
.playerDetails { 
    top: 10px;
    position: absolute;
    left: 300px;
    width: 70%;
    background-color: white;
    border-radius: 8px;
    border: 3px solid black;
    padding: 5px;
}

.stats { 
    left: 10vw; 
    position: relative;
}


@media only screen and (max-width: 900px) {
    .playerProfile { 
        width: 50%;
        height: 50%;
        position: relative;
        left: 50%; 
    }

    .playerDetails { 
        position: relative;
        left: 25%;
        width: 100%;
        height: 100%;
    }
}