div.MainPage{  
    margin-left: 0px;
    margin-top: 0px; 
    overflow-y: scroll;
    height: 90vh;
    background-image: url('rogers1.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 30%;
}
div.Selection { 
    width: 50% ; 
    margin-left: 25%;
}

div.MainPage button{ 
    background-color: white;
}

div.MainPage img { 
    width: 50% ; 
    height: 50% ;
    margin-left: 25%;
    margin-bottom: 20px;
}

.playerProfile { 
    object-fit: cover;
    position: relative;
    left: -20%; 
    width: 50%;
    height: 50%;
}
.playerDetails { 
    position: relative;
    left: -10%; 
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .playerProfile { 
        width: 50%;
        height: 50%;
        position: static;
        left: 0%; 
    }

    .playerDetails { 
        position: static;
    }
}