div.MainPage{  
    margin-left: 0px;
    margin-top: 0px; 
    overflow-y: hidden;
    height: calc(100% - 56px);
    width: 100%;
    position: absolute;
    background-image: url('rogers1.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 30%;
}
div.Selection { 
    width: 50% ; 
    margin-left: 25%;
}

div.MainPage button{ 
    background-color: white;
}

div.MainPage img { 
    width: 50% ; 
    height: 50% ;
    margin-left: 25%;
    margin-bottom: 20px;
}

.playerProfile { 
    object-fit: cover;
    position: relative;
    left: -250px; 
    height: 100vh;
    max-width: 600px;
}
.playerDetails { 
    position: absolute;
    left: 400px;
    height:100vh;
    width: 70%;
}

@media only screen and (min-width: 1300px) {
    .playerDetails { 
        left: 400px;
    }
    
}
@media only screen and (max-width: 900px) {
    .playerProfile { 
        width: 50%;
        height: 50%;
        position: static;
        left: 0%; 
    }

    .playerDetails { 
        position: static;
    }
}